canvas {
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
    margin: auto;
}

@media (max-width:1100px)  { 
    canvas{
        width: 100%;
    }
}
.wrap { 
    background-image: url("./graficos/imgRanking.png");
    display:none;
    position: relative;
    margin: auto;
    align-items: center;
    flex-direction: column;
  justify-content:space-around;
  height: 300px;
  width: 200px;
  margin-top: 100px;
  
 }

 .boton:hover {
     filter: sepia(60%);
     cursor: pointer;
 }